[submodule "cimgui"]
	path = cimgui
	url = https://github.com/SnowflakePowered/cimgui
[submodule "CodeGenerator/Vulkan-Headers"]
	path = CodeGenerator/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
